{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
    color: #003399;
    background: #F5F5F5;
}

button:hover{
    background-color: rgb(196, 190, 190);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:rgb(240, 9, 240);}

header{
    background-color: rgb(245, 245, 245);

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: rgb(196, 190, 190);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/pc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero-prods{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/prods.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero-venta{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/ventas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero-usrs{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/under-construction.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero-ventas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/caja.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero-clients{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/under-construction.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero, #hero-clients, #hero-prods, #hero-usrs h1{
    color:white;
    button{
        font-size: 1.75em;
        bottom: 0%;
    }
}

#panel-admi .container{
    text-align: center;
    padding: 200px 12px;
}

#Funciones {
    background-color: black;
    color: white;
    text-align: center;
}

#Funciones .container{
    padding: 150px 12px;
}

#Funciones .h2{
    margin-top: 0;
    font-size: 3.2em;
}

#Funciones .p{
    display: none;
}

#Funciones .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    cursor: default;
}

#Funciones .carta:hover{
    box-shadow: 5px 5px 20px rgba(227, 243, 7, 0.5);
    transform: translateY(-3%);
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/producto.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/clientes.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/ventas.jpg");
}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/trabajador.jpg");
}

#Integrantes .container{
    text-align: center;
    padding: 250px 12px;
}

#Integrantes li{
    margin: 15px 0px;
    font-weight: bold;
}

#a-trabajar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(30,30,30);
    color: white;
    height: 80vh;
}

#a-trabajar h2{
    font-size: 9vw;
}

#a-trabajar button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230, 230, 230,);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/*////////////////////////////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
}

.products-form form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 30%;
    margin: 20px auto;
    text-align: center;
}

.products-form form input{
    font-family: 'Segoe UI', sans-serif;
}

.products-form form input[type=text],
.products-form form input[type=password],
.products-form form input[type=email]{
    padding: 8px;
    border:2px solid #aaa;
    border-radius:4px;
    outline:none;
    transition:.3s;
}

.products-form form input[type=text]:focus,
.products-form form input[type=password]:focus,
.products-form form input[type=password]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 6px 0 dodgerBlue;
}

.products-form form input[type=submit]{
    border: none;
    padding: 12px 50px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    background-color: white; 
    color: black; 
    border: 2px solid #60a100;
}

.products-form form input[type=submit]:hover {
    background-color: #60a100;
    color: white;
}
/* make this div scrollable for overflowing table */
.products-table table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 4px;
}

table th{
    padding: 16px;
    text-align: center;
    font-size: .85em;
}

.products-table--edit{
    background: #009688;
    padding: 6px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.products-table--delete{
    background: #b11e1e;
    padding: 6px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
/*////////////////////////////////////*/

@media (min-width: 850px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }


    #hero h1{
        font-size: 5em;
    }

    #panel-admi .container{
        display:flex;
    justify-content: space-evenly;
    }

    #panel-admi .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    #panel-admi h2{
        margin-top: 0px;
    }

    #panel-admi .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/Panel.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #Funciones .funciones2{
        display:flex;
        justify-content: center;
    }

    #Funciones p{
        display: block;
        margin-bottom: 30px;
    }

    #Funciones h3{
        margin-top: 0;
    }

    #Funciones .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50,50,50,0.5);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/producto.jpg");
    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/clientes.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/ventas.jpg");
    }

    .carta:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/trabajador.jpg");
    }

    #Integrantes{
        background-image: url("../img/integrantes.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #Integrantes .container{
        text-align: initial;
    }

    #Integrantes ul{
        margin-left: 100px;
    }


    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }

}

@media (min-width: 1100px) {
    #Integrantes{
        background-position-x: calc(100vw - 800px);
    }
}